<div class="app-container">
  <header class="app-header" [class.hidden]="!isScrolled">
    <div class="header-center">
      <div class="profile-icon" aria-label="Profile"></div>
      <span class="brand">
        Ajosuemendez
      </span>
      <i class="fi fi-bs-angle-small-down center-arrow-down"></i>
    </div>
  </header>

  <main #contentArea class="app-content">
    <router-outlet></router-outlet>
  </main>

  <nav class="bottom-nav">
    <button class="nav-item" [class.active]="isActive('/')" (click)="navigate('/')">
      <span class="nav-icon">
        <i [ngClass]= "isActive('/') ? 'fi fi-sr-home' : 'fi fi-rr-home'" ></i>
      </span>
      <span class="label">Home</span>
    </button>
    <button class="nav-item" [class.active]="isActive('/me')" (click)="navigate('/me')">
      <span class="nav-icon">
        <i [ngClass]= "isActive('/me') ? 'fi fi-sr-user' : 'fi fi-rr-user'" ></i>
      </span>
      <span class="label">Me</span>
    </button>
    <button class="nav-item" [class.active]="isActive('/work')" (click)="navigate('/work')">
      <span class="nav-icon">
        <i [ngClass]= "isActive('/works') ? 'fi fi-sr-computer' : 'fi fi-rr-computer'" ></i>
      </span>
      <span class="label">Work</span>
    </button>
    <button class="nav-item" [class.active]="isActive('/email')" (click)="navigate('/email')">
      <span class="nav-icon">
        <i [ngClass]= "isActive('/email') ? 'fi fi-sr-envelope' : 'fi fi-rr-envelope'" ></i>
      </span>
      <span class="label">Email</span>
    </button>
    <button class="nav-item" [class.active]="isActive('/cv')" (click)="navigate('/cv')">
      <span class="nav-icon">
        <i [ngClass]= "isActive('/cv') ? 'fi fi-sr-file' : 'fi fi-rr-file'" ></i>
      </span>
      <span class="label">CV</span>
    </button>
</nav>
</div>