<div class="top-overlay" [class.de]="selectedLang === 'de'"
  [ngStyle]="{ height: topOverlayHeight + 'px' }">
  <div class="profile-container">
   <h2 class="profile-title">Fullstack Software Developer</h2>
    <div class="profile-pic"></div>
    <h2 class="profile-name">Alejandro Mendez</h2>
    <div #languageSwitchContainer class="language-switch">
      <div class="highlight" [class.right]="selectedLang === 'de'"></div>
  
      <button (click)="toggleLanguage()">
        <img src="assets/images/english-flag.png" alt="English" />
      </button>
      <button (click)="toggleLanguage()">
        <img src="assets/images/german-flag.png" alt="Deutsch" />
      </button>
    </div>
  </div>
    <div class="scroll-down-indicator">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

  <projects></projects>
</div>