<div class="profile-container">
  <div class="profile-pic"></div>
  <h2 class="profile-name">Alejandro Mendez</h2>
  <p class="profile-description">
    Fullstack Software Developer passionate about building scalable and efficient web applications.
  </p>
  <div class="profile-links">
    <a href="https://www.linkedin.com/in/alejandro-josue-mendez-lopez-a526a321b/" target="_blank" rel="noopener">LinkedIn</a>
    <a href="https://github.com/ajosuemendez" target="_blank" rel="noopener">GitHub</a>
    <a href="assets/cvs/Lebenslauf_Alejandro_Mendez.pdf" download>CV</a>
  </div>
</div>

<projects></projects>