<div class="top-overlay"
  [ngStyle]="{ height: topOverlayHeight + 'px' }">
  <div class="profile-container">
   <h2 class="profile-title">Fullstack Software Developer</h2>
    <div class="profile-pic"></div>
    <h2 class="profile-name">Alejandro Mendez</h2>
    <div #languageSwitchContainer class="language-switch">
      <div class="highlight" [class.right]="selectedLang === 'de'"></div>
  
      <button (click)="toggleLanguage()">
        <img src="assets/images/english-flag.png" alt="English" />
      </button>
      <button (click)="toggleLanguage()">
        <img src="assets/images/german-flag.png" alt="Deutsch" />
      </button>
    </div>
    <p class="profile-description">
    </p>
    <!-- <div class="profile-links">
      <a href="https://www.linkedin.com/in/alejandro-josue-mendez-lopez-a526a321b/" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://github.com/ajosuemendez" target="_blank" rel="noopener">GitHub</a>
      <a href="assets/cvs/Lebenslauf_Alejandro_Mendez.pdf" download>CV</a>
    </div> -->
  </div>
    <div class="scroll-down-indicator">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

  <projects></projects>
</div>