<div #cardRef class="project-card" (click)="toggleDetails()">
  <div class="card-header">
    <h3 class="project-title">{{ project.title }}</h3>
  </div>

  <div class="tech-list">
    <span *ngFor="let tech of project.tech" class="tech-chip">{{ tech }}</span>
  </div>

  <div class="project-image-wrapper">
    <ng-container *ngIf="!isMobile; else noLink">
      <a
        [href]="project.link"
        target="_blank"
        rel="noopener noreferrer"
        class="image-link"
        (click)="$event.stopPropagation()"
      >
        <img class="project-image" src="{{ project.imagePath }}" alt="{{ project.title }}" />
      </a>
    </ng-container>
    <ng-template #noLink>
      <div class="image-link">
        <img class="project-image" src="{{ project.imagePath }}" alt="{{ project.title }}" />
      </div>
    </ng-template>
  </div>

  <div class="project-details" [class.expanded]="project.expanded">
    <p>{{ project.description }}</p>
      <a [href]="project.link" target="_blank" rel="noopener noreferrer" class="visit-button" (click)="$event.stopPropagation()">
        Visit Site
      </a>
  </div>

  <div class="expand-icon" [class.expanded]="project.expanded">
    <i class="fi fi-rr-angle-small-down"></i>
  </div>
</div>