@import "@fontsource/manrope"; /* Defaults to weight 400 */

:root {
  --vh: 100%;
  /* Backgrounds */
  --color-bg: #222831;
  --color-primary: #EEEEEE;
  --color-accent: #00ADB5;
  --color-hover: #393E46;
  --color-border: #393E46;

  --color-light-shadow: rgba(0, 0, 0, 0.05);
  --color-medium-shadow: rgba(0, 0, 0, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
}

app-root {
  flex: 1;               /* allow it to fill body */
  display: flex;         /* pass flex behavior to layout component */
  flex-direction: column;
  min-height: 0;         /* prevents scroll issues */
}

.nav-item, .project-card, button, .language-switch-single {
  -webkit-tap-highlight-color: transparent;
}

